name: Deploy Static Website
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Sync files from html folder to S3
        run: |
          # Указываем ./html в качестве источника
          aws s3 sync ./html s3://cmtr-n0iczb1u-bucket-1771928868 --delete --exclude ".git*"
